.header {
  height: 57px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 16px;

  .sync {
    font-size: 10px;
    display: flex;
    align-items: center;

    .spinner {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }

  .name {
    text-align: center;
  }

  .user-container {
    display: flex;
    justify-content: flex-end;

    .user {
      width: 20px;
      height: 20px;
    }
  }
}